In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("PySpark Example") \
    .getOrCreate()
# Replace 'data.csv' with your actual file path
df = spark.read.csv('./IMDB-Movie-Data.csv', header=True, inferSchema=True)
df.show()

25/01/28 10:22:40 WARN Utils: Your hostname, dnk131 resolves to a loopback address: 127.0.1.1; using 192.168.1.149 instead (on interface enp1s0)
25/01/28 10:22:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/28 10:22:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|157606|            138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2| 60545|            270.32|     59.0|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|393727|            325.02|     40.0|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1| 56036|             45.13|     42.0|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|258682|            151.06|     93.0|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|   6.4|            2490.0|     NULL|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|  7188|              8.01|     78.0|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|192177|            100.01|     41.0|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|232072|            234.02|     66.0|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8| 93103|            169.27|     74.0|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|323118|            532.17|     65.0|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|118151|            248.75|     81.0|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|  8612|              2.87|     70.0|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|120259|            368.31|     61.0|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|211760|             67.12|     71.0|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|150823|            162.16|     58.0|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|102061|             51.69|     69.0|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|340798|             100.5|     81.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [10]:
spark

In [4]:
df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Actors: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Runtime (Minutes): string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Revenue (Millions): double (nullable = true)
 |-- Metascore: double (nullable = true)

In [16]:
df.select('Title', 'Genre', 'Rating').head(3)

[Row(Title='Guardians of the Galaxy', Genre='Action,Adventure,Sci-Fi', Rating='8.1'),
 Row(Title='Prometheus', Genre='Adventure,Mystery,Sci-Fi', Rating='7'),
 Row(Title='Split', Genre='Horror,Thriller', Rating='7.3')]

In [17]:
df.dtypes

[('Rank', 'int'),
 ('Title', 'string'),
 ('Genre', 'string'),
 ('Description', 'string'),
 ('Director', 'string'),
 ('Actors', 'string'),
 ('Year', 'string'),
 ('Runtime (Minutes)', 'string'),
 ('Rating', 'string'),
 ('Votes', 'string'),
 ('Revenue (Millions)', 'double'),
 ('Metascore', 'double')]

In [18]:
df.describe().show()

25/01/28 10:31:06 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+------------------+-----------------+
|summary|             Rank|               Title|       Genre|         Description|            Director|              Actors|                Year|   Runtime (Minutes)|            Rating|               Votes|Revenue (Millions)|        Metascore|
+-------+-----------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+------------------+-----------------+
|  count|             1000|                1000|        1000|                1000|                1000|                1000|                1000|                1000|              1000|                1000|               876|              932|
|   mean|            500.5|   635.6666666666666|        NULL|                NULL|                NULL|              1996.0|  2012.7672064777328|  126.65829145728644|15.428728728728741|  169129.56896896896| 318.0891780821917|583.5080686695279|
| stddev|288.8194360957494|   860.1559548515994|        NULL|                NULL|                NULL|                NULL|  3.2059432982334624|  160.08961216341075|126.98048279758784|  189198.49476860336| 4223.491266317113|9829.793839102153|
|    min|                1|(500) Days of Summer|      Action|"""21"" is the fa...| North Korean dic...|                1996| together with Sc...| teamed up on a j...|               1.9|                1004|               0.0|             0.03|
|    max|             1000|            Zootopia|Thriller,War|Young, up-and-com...|       Zackary Adler|Zooey Deschanel, ...|Srdjan 'Zika' Tod...|Taraneh Alidoosti...| Baltasar Korm√°kur|Jason Clarke, Ang...|          112729.0|         261536.0|
+-------+-----------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+------------------+-----------------+

In [25]:
df_add_col = df.withColumn('Rating+2', df['Rating'] * 2)

In [26]:
df_add_col.show(2)

+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+------+------+------------------+---------+--------+
|Rank|               Title|               Genre|         Description|    Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|Rating+2|
+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+------+------+------------------+---------+--------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|  James Gunn|Chris Pratt, Vin ...|2014|              121|   8.1|757074|            333.13|     76.0|    16.2|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|    14.0|
+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+------+------+------------------+---------+--------+
only showing top 2 rows

In [29]:
df = df.drop('Rating+2')
df.show(2)

+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|    Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|  James Gunn|Chris Pratt, Vin ...|2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|
+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+------+------+------------------+---------+
only showing top 2 rows

In [21]:
df.show(5)

+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|2016|              117|   7.3|157606|            138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|2016|              108|   7.2| 60545|            270.32|     59.0|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|2016|              123|   6.2|393727|            325.02|     40.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
only showing top 5 rows

In [30]:
df.withColumnRenamed('Rating', 'Score').show(2)

+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+-----+------+------------------+---------+
|Rank|               Title|               Genre|         Description|    Director|              Actors|Year|Runtime (Minutes)|Score| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+-----+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|  James Gunn|Chris Pratt, Vin ...|2014|              121|  8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|Ridley Scott|Noomi Rapace, Log...|2012|              124|    7|485820|            126.46|     65.0|
+----+--------------------+--------------------+--------------------+------------+--------------------+----+-----------------+-----+------+------------------+---------+
only showing top 2 rows

In [41]:
df.count()

1000

In [51]:
df.na.drop(how="any").count()

838

In [40]:
# Get number of rows  
num_rows = df.count()  

# Get number of columns  
num_cols = len(df.columns)  

# Combine both to get the shape  
shape = (num_rows, num_cols)  

print("Shape of DataFrame:", shape)

Shape of DataFrame: (1000, 12)

In [53]:
test = spark.read.csv("./test2.csv", header=True, inferSchema=True)
test.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [55]:
test.count()

9

In [54]:
test.na.drop(how="any").count()

6

In [61]:
test.na.drop(how="any", thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
+---------+---+----------+------+

In [66]:
test.na.fill("NA").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|       NA|  34|        10| 38000|
|       NA|  36|      NULL|  NULL|
+---------+----+----------+------+

In [67]:
test3 = spark.read.csv("./test3.csv", header=True, inferSchema=True)

In [70]:
test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [72]:
test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [74]:
test3.filter(test3["salary"] < 10000).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [75]:
test3.filter(~(test3["salary"] < 10000)).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

In [77]:
test1 = spark.read.csv("./test1.csv", header=True, inferSchema=True)
test1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [78]:
test1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [87]:
from pyspark.sql import functions as F  

# Group by 'Director', calculate the maximum revenue, and order by revenue in descending order  
result_df = df.select(["Director", "Revenue (Millions)"]) \
    .groupBy("Director") \
    .agg(F.max("Revenue (Millions)").alias("Max Revenue")) \
    .orderBy(F.col("Max Revenue").desc())  

# Show the result  
result_df.show()

+--------------------+-----------+
|            Director|Max Revenue|
+--------------------+-----------+
| they must put th...|   112729.0|
| only to discover...|    43648.0|
| who happens to h...|    30053.0|
| but soon suspect...|    12193.0|
| whom he believes...|     2490.0|
|"" which only fue...|     2229.0|
|       who on May 10|     2015.0|
|"" they become th...|     1210.0|
|         J.J. Abrams|     936.63|
|       James Cameron|     760.51|
|     Colin Trevorrow|     652.18|
|         Joss Whedon|     623.28|
|   Christopher Nolan|     533.32|
|      Gareth Edwards|     532.17|
|      Andrew Stanton|     486.29|
|    Francis Lawrence|     424.65|
|      Gore Verbinski|     423.03|
|         Lee Unkrich|     414.98|
|         Shane Black|     408.99|
|       Anthony Russo|     408.08|
+--------------------+-----------+
only showing top 20 rows